@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");
/* ------------------- START RESET CSS ------------------- */

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  box-sizing: border-box;
}

textarea {
  overflow: hidden;
  resize: none;
}

button {
  outline: none !important;
  cursor: pointer;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title a {
  color: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
/* ------------------- END RESET CSS ------------------- */
.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.form-label {
  font-size: 14px;
}

.form-input {
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.steps {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.step-item {
  cursor: pointer;
}

.step-item.active {
  font-weight: bold;
}

.step-panel {
  display: none;
}

.step-panel.active {
  display: block;
}
.step {
  display: none;
}
.step.active {
  display: block;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-form {
  padding: 16px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

  width: 75%;
}

@media (max-width: 768px) {
  .content-form {
    width: 100%;
  }
}

.content-buttons {
  width: 100%;
  display: flex;
  padding-top: 12px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
