@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");
/* ------------------- START RESET CSS ------------------- */

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  box-sizing: border-box;
}

textarea {
  overflow: hidden;
  resize: none;
}

button {
  outline: none !important;
  cursor: pointer;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title a {
  color: inherit;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
/* ------------------- END RESET CSS ------------------- */
.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.form-label {
  font-size: 14px;
}

.form-input {
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.steps {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.step-item {
  cursor: pointer;
}

.step-item.active {
  font-weight: bold;
}

.step-panel {
  display: none;
}

.step-panel.active {
  display: block;
}
.step {
  display: none;
}
.step.active {
  display: block;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-form {
  padding: 16px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 75%;
}

@media (max-width: 768px) {
  .content-form {
    width: 100%;
  }
}

.content-buttons {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.labels-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labels-flex > div {
  width: 100%;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .content-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .labels-flex {
    gap: 1rem;
  }
}

/* Estilos para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .labels-flex {
    flex-direction: row;
    gap: 1rem;
  }

  .content-buttons {
    gap: 1rem;
  }
}

/* Estilos para pantallas grandes (PC y laptops) */
@media (min-width: 1025px) {
  .labels-flex {
    flex-direction: row;
    gap: 1rem;
  }

  .content-buttons {
    gap: 1rem;
  }
}

.title-1-form {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.content-checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 767px) {
  .content-checkbox {
    grid-template-columns: 1fr;
  }
}

.content-radiobutton {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

@media (max-width: 767px) {
  .content-radiobutton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
}

.content-radiobutton > div {
  width: 100%;
}

.pricing-card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  width: 100%; /* You might want to use max-width for larger screens */
}

.pricing-card .card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
}

.pricing-card .card-body {
  padding: 15px;
  text-align: center;
}

.pricing-card .price {
  font-size: 3em;
  margin: 20px 0;
}

.pricing-card .price small {
  font-size: 0.5em;
}

.pricing-card .list-unstyled {
  padding: 0;
  margin-bottom: 20px;
}

.pricing-card .select-package {
  text-align: center;
  padding: 15px 0;
}

.pricing-card .select-package a {
  text-decoration: none;
  color: #fff;
  background-color: #dc3545;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
  display: inline-block;
}

.pricing-card .select-package a:hover {
  background-color: #c82333;
  text-decoration: none;
}

.cards-container {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 767px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
/* Para asegurarte de que la tarjeta se vea bien en diferentes tamaños de pantalla, Bootstrap ya maneja la responsividad con las clases col-sm-6, col-md-4, y col-lg-3. No necesitas código CSS adicional para la responsividad. */
.pricing-box {
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
  padding: 35px 50px;
  border-radius: 20px;
  position: relative;
}

.pricing-box .plan {
  font-size: 34px;
}

.pricing-badge {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0;
  overflow: hidden;
  height: 100px;
}

.pricing-badge .badge {
  float: right;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 13px;
  margin: 0;
  padding: 7px 10px;
  font-weight: 500;
  color: #ffffff;
  background: #fb7179;
}
